@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red">ASP.NET MİNİ PROJECT</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.
        </p>
        <p> Merhaba ceylan</p>
</div>

